body {
    background-color: #666699;
}

header {
  
    background-image: url("./images/backgroundheader.jpg");

}

h1 {
    color: #ff9999 ;
    background-color: #666699;
    font-size: 50px;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
    font-size: 30px ;
    margin-left: 30px ;
}

hr {
    background-color: #333333 ;
    height: 10px ;
    border-color: #333333 ;
}

.col-9 {
    top:10px;
    text-align: center;
}

.col-12 {
   text-align: center;
}


.col-6 img, 
.col-12 img {
    Border-color: #333333; 
    max-width: 300px;
    max-height: 200px;
    text-align: center ;
    margin-left: 9% ;
    border-color: #333333;
    border-style: solid;
    justify-content: center;
    
}

.col-6 {
    display: inline-block;
    align-items: center;
    padding: 20px ;
}





.header nav ul li {

    color: lightgray;
    display: inline ;
    margin-left: 75%;
    display: inline;
    
}
.contact ul li {
    display: inline-block;
    padding: 50px;
}




a {
    color: #ff9999;
    display: inline;
    font-size: 20px;
}